absl-py==1.4.0
    # via kfp
aiobotocore==2.5.4
    # via
    #   digitalhub-core
    #   s3fs
aiohttp==3.9.3
    # via
    #   aiobotocore
    #   aiohttp-retry
    #   mlrun
    #   s3fs
    #   storey
aiohttp-retry==2.8.3
    # via mlrun
aioitertools==0.11.0
    # via aiobotocore
aiosignal==1.3.1
    # via aiohttp
anyio==3.7.1
    # via
    #   jupyter-server
    #   mlrun
argon2-cffi==23.1.0
    # via
    #   jupyter-server
    #   nbclassic
    #   notebook
argon2-cffi-bindings==21.2.0
    # via argon2-cffi
arrow==1.3.0
    # via isoduration
asttokens==2.4.1
    # via stack-data
async-timeout==4.0.3
    # via aiohttp
attrs==23.2.0
    # via
    #   aiohttp
    #   jsonschema
    #   referencing
beautifulsoup4==4.12.3
    # via nbconvert
bleach==6.1.0
    # via nbconvert
boto3==1.28.17
    # via
    #   digitalhub-core
    #   nuclio-jupyter
botocore==1.31.17
    # via
    #   aiobotocore
    #   boto3
    #   s3transfer
cachetools==5.3.3
    # via google-auth
certifi==2024.2.2
    # via
    #   kfp-server-api
    #   kubernetes
    #   requests
cffi==1.16.0
    # via argon2-cffi-bindings
charset-normalizer==3.3.2
    # via requests
click==8.1.7
    # via
    #   kfp
    #   mlrun
    #   typer
cloudpickle==2.2.1
    # via kfp
comm==0.2.1
    # via ipykernel
debugpy==1.8.1
    # via ipykernel
decorator==5.1.1
    # via ipython
defusedxml==0.7.1
    # via nbconvert
dependency-injector==4.41.0
    # via mlrun
deprecated==1.2.14
    # via
    #   kfp
    #   mlrun
digitalhub-core==0.4.0b5
    # via digitalhub-data
digitalhub-data==0.4.0b5
    # via digitalhub-ml
digitalhub-ml==0.4.0b5
    # via digitalhub-ml-mlrun (pyproject.toml)
docstring-parser==0.15
    # via kfp
entrypoints==0.4
    # via jupyter-client
exceptiongroup==1.2.0
    # via
    #   anyio
    #   ipython
executing==2.0.1
    # via stack-data
fastjsonschema==2.19.1
    # via nbformat
fire==0.5.0
    # via kfp
fqdn==1.5.1
    # via jsonschema
frozenlist==1.4.1
    # via
    #   aiohttp
    #   aiosignal
fsspec==2023.9.2
    # via
    #   mlrun
    #   s3fs
    #   storey
    #   v3iofs
future==1.0.0
    # via v3io
gitdb==4.0.11
    # via gitpython
gitpython==3.1.42
    # via mlrun
google-api-core==2.17.1
    # via
    #   google-api-python-client
    #   google-cloud-core
    #   google-cloud-storage
    #   kfp
google-api-python-client==1.12.11
    # via kfp
google-auth==2.28.1
    # via
    #   google-api-core
    #   google-api-python-client
    #   google-auth-httplib2
    #   google-cloud-core
    #   google-cloud-storage
    #   kfp
    #   kubernetes
google-auth-httplib2==0.2.0
    # via google-api-python-client
google-cloud-core==2.4.1
    # via google-cloud-storage
google-cloud-storage==2.14.0
    # via kfp
google-crc32c==1.5.0
    # via
    #   google-cloud-storage
    #   google-resumable-media
google-resumable-media==2.7.0
    # via google-cloud-storage
googleapis-common-protos==1.62.0
    # via
    #   google-api-core
    #   v3io-frames
greenlet==3.0.3
    # via sqlalchemy
grpcio==1.62.0
    # via grpcio-tools
grpcio-tools==1.48.2
    # via v3io-frames
httplib2==0.22.0
    # via
    #   google-api-python-client
    #   google-auth-httplib2
idna==3.6
    # via
    #   anyio
    #   jsonschema
    #   requests
    #   yarl
importlib-metadata==7.0.1
    # via nbconvert
inflection==0.5.1
    # via mlrun
ipykernel==6.29.3
    # via
    #   nbclassic
    #   notebook
ipython==8.18.1
    # via
    #   ipykernel
    #   mlrun
    #   nuclio-jupyter
ipython-genutils==0.2.0
    # via
    #   nbclassic
    #   notebook
isoduration==20.11.0
    # via jsonschema
jedi==0.19.1
    # via ipython
jinja2==3.1.3
    # via
    #   jupyter-server
    #   mlrun
    #   nbclassic
    #   nbconvert
    #   notebook
jmespath==1.0.1
    # via
    #   boto3
    #   botocore
jsonpointer==2.4
    # via jsonschema
jsonschema[format-nongpl]==4.21.1
    # via
    #   jupyter-events
    #   kfp
    #   nbformat
jsonschema-specifications==2023.12.1
    # via jsonschema
jupyter-client==7.4.9
    # via
    #   ipykernel
    #   jupyter-server
    #   nbclassic
    #   nbclient
    #   notebook
jupyter-core==5.7.1
    # via
    #   ipykernel
    #   jupyter-client
    #   jupyter-server
    #   nbclassic
    #   nbclient
    #   nbconvert
    #   nbformat
    #   notebook
jupyter-events==0.9.0
    # via jupyter-server
jupyter-server==2.12.5
    # via
    #   nbclassic
    #   notebook-shim
jupyter-server-terminals==0.5.2
    # via jupyter-server
jupyterlab-pygments==0.3.0
    # via nbconvert
kfp==1.8.22
    # via mlrun
kfp-pipeline-spec==0.1.16
    # via kfp
kfp-server-api==1.8.5
    # via kfp
kubernetes==25.3.0
    # via kfp
markupsafe==2.1.5
    # via
    #   jinja2
    #   nbconvert
matplotlib-inline==0.1.6
    # via
    #   ipykernel
    #   ipython
mergedeep==1.3.4
    # via mlrun
mistune==3.0.2
    # via nbconvert
mlrun==1.6.2-rc6
    # via digitalhub-ml-mlrun (pyproject.toml)
multidict==6.0.5
    # via
    #   aiohttp
    #   yarl
nbclassic==1.0.0
    # via notebook
nbclient==0.9.0
    # via nbconvert
nbconvert==7.16.1
    # via
    #   jupyter-server
    #   nbclassic
    #   notebook
    #   nuclio-jupyter
nbformat==5.9.2
    # via
    #   jupyter-server
    #   nbclassic
    #   nbclient
    #   nbconvert
    #   notebook
nest-asyncio==1.6.0
    # via
    #   ipykernel
    #   jupyter-client
    #   mlrun
    #   nbclassic
    #   notebook
notebook==6.5.6
    # via nuclio-jupyter
notebook-shim==0.2.4
    # via nbclassic
nuclio-jupyter==0.9.16
    # via mlrun
nuclio-sdk==0.5.9
    # via storey
numpy==1.26.4
    # via
    #   mlrun
    #   pandas
    #   pyarrow
    #   storey
oauthlib==3.2.2
    # via requests-oauthlib
orjson==3.9.15
    # via mlrun
overrides==7.7.0
    # via jupyter-server
packaging==23.2
    # via
    #   ipykernel
    #   jupyter-server
    #   nbconvert
pandas==2.1.4
    # via
    #   digitalhub-core
    #   mlrun
    #   storey
    #   v3io-frames
pandocfilters==1.5.1
    # via nbconvert
parso==0.8.3
    # via jedi
pexpect==4.9.0
    # via ipython
platformdirs==4.2.0
    # via jupyter-core
prometheus-client==0.20.0
    # via
    #   jupyter-server
    #   nbclassic
    #   notebook
prompt-toolkit==3.0.43
    # via ipython
protobuf==3.20.3
    # via
    #   google-api-core
    #   googleapis-common-protos
    #   grpcio-tools
    #   kfp
    #   kfp-pipeline-spec
psutil==5.9.8
    # via ipykernel
psycopg2-binary==2.9.9
    # via digitalhub-core
ptyprocess==0.7.0
    # via
    #   pexpect
    #   terminado
pure-eval==0.2.2
    # via stack-data
pyarrow==14.0.2
    # via
    #   digitalhub-core
    #   mlrun
    #   storey
pyasn1==0.5.1
    # via
    #   pyasn1-modules
    #   rsa
pyasn1-modules==0.3.0
    # via google-auth
pycparser==2.21
    # via cffi
pydantic==1.10.14
    # via
    #   digitalhub-core
    #   kfp
    #   mlrun
pygments==2.17.2
    # via
    #   ipython
    #   nbconvert
pyparsing==3.1.1
    # via httplib2
python-dateutil==2.8.2
    # via
    #   arrow
    #   botocore
    #   jupyter-client
    #   kfp-server-api
    #   kubernetes
    #   pandas
python-dotenv==0.17.1
    # via mlrun
python-json-logger==2.0.7
    # via jupyter-events
pytz==2024.1
    # via pandas
pyyaml==5.4.1
    # via
    #   digitalhub-core
    #   jupyter-events
    #   kfp
    #   kubernetes
    #   mlrun
    #   nuclio-jupyter
pyzmq==24.0.1
    # via
    #   ipykernel
    #   jupyter-client
    #   jupyter-server
    #   nbclassic
    #   notebook
referencing==0.33.0
    # via
    #   jsonschema
    #   jsonschema-specifications
    #   jupyter-events
requests==2.31.0
    # via
    #   digitalhub-core
    #   google-api-core
    #   google-cloud-storage
    #   kubernetes
    #   mlrun
    #   nuclio-jupyter
    #   requests-oauthlib
    #   requests-toolbelt
    #   v3io
    #   v3io-frames
requests-oauthlib==1.3.1
    # via kubernetes
requests-toolbelt==0.10.1
    # via kfp
rfc3339-validator==0.1.4
    # via
    #   jsonschema
    #   jupyter-events
rfc3986-validator==0.1.1
    # via
    #   jsonschema
    #   jupyter-events
rpds-py==0.18.0
    # via
    #   jsonschema
    #   referencing
rsa==4.9
    # via google-auth
s3fs==2023.9.2
    # via digitalhub-ml-mlrun (pyproject.toml)
s3transfer==0.6.2
    # via boto3
semver==3.0.2
    # via mlrun
send2trash==1.8.2
    # via
    #   jupyter-server
    #   nbclassic
    #   notebook
six==1.16.0
    # via
    #   asttokens
    #   bleach
    #   dependency-injector
    #   fire
    #   google-api-python-client
    #   kfp-server-api
    #   kubernetes
    #   python-dateutil
    #   rfc3339-validator
smmap==5.0.1
    # via gitdb
sniffio==1.3.1
    # via anyio
soupsieve==2.5
    # via beautifulsoup4
sqlalchemy==1.4.51
    # via digitalhub-core
stack-data==0.6.3
    # via ipython
storey==1.6.18
    # via mlrun
strip-hints==0.1.10
    # via kfp
tabulate==0.8.10
    # via
    #   kfp
    #   mlrun
termcolor==2.4.0
    # via fire
terminado==0.18.0
    # via
    #   jupyter-server
    #   jupyter-server-terminals
    #   nbclassic
    #   notebook
tinycss2==1.2.1
    # via nbconvert
tornado==6.4
    # via
    #   ipykernel
    #   jupyter-client
    #   jupyter-server
    #   nbclassic
    #   notebook
    #   terminado
traitlets==5.14.1
    # via
    #   comm
    #   ipykernel
    #   ipython
    #   jupyter-client
    #   jupyter-core
    #   jupyter-events
    #   jupyter-server
    #   matplotlib-inline
    #   nbclassic
    #   nbclient
    #   nbconvert
    #   nbformat
    #   notebook
typer==0.9.0
    # via kfp
types-python-dateutil==2.8.19.20240106
    # via arrow
typing-extensions==4.10.0
    # via
    #   aioitertools
    #   ipython
    #   pydantic
    #   typer
tzdata==2024.1
    # via pandas
ujson==5.9.0
    # via v3io
uri-template==1.3.0
    # via jsonschema
uritemplate==3.0.1
    # via
    #   google-api-python-client
    #   kfp
urllib3==1.26.18
    # via
    #   botocore
    #   kfp
    #   kfp-server-api
    #   kubernetes
    #   mlrun
    #   requests
v3io==0.5.23
    # via
    #   mlrun
    #   storey
    #   v3iofs
v3io-frames==0.10.13
    # via
    #   mlrun
    #   storey
v3iofs==0.1.18
    # via
    #   mlrun
    #   storey
wcwidth==0.2.13
    # via prompt-toolkit
webcolors==1.13
    # via jsonschema
webencodings==0.5.1
    # via
    #   bleach
    #   tinycss2
websocket-client==1.7.0
    # via
    #   jupyter-server
    #   kubernetes
wheel==0.42.0
    # via strip-hints
wrapt==1.16.0
    # via
    #   aiobotocore
    #   deprecated
xxhash==3.4.1
    # via storey
yarl==1.9.4
    # via aiohttp
zipp==3.17.0
    # via importlib-metadata

# The following packages are considered to be unsafe in a requirements file:
# setuptools
