aiobotocore==2.11.2
    # via digitalhub-core
aiohttp==3.9.3
    # via aiobotocore
aioitertools==0.11.0
    # via aiobotocore
aiosignal==1.3.1
    # via aiohttp
async-timeout==4.0.3
    # via aiohttp
attrs==23.2.0
    # via aiohttp
boto3==1.34.34
    # via digitalhub-core
botocore==1.34.34
    # via
    #   aiobotocore
    #   boto3
    #   s3transfer
certifi==2024.2.2
    # via requests
charset-normalizer==3.3.2
    # via requests
digitalhub-core==0.5.0b1
    # via digitalhub-core-container (pyproject.toml)
frozenlist==1.4.1
    # via
    #   aiohttp
    #   aiosignal
greenlet==3.0.3
    # via sqlalchemy
idna==3.6
    # via
    #   requests
    #   yarl
jmespath==1.0.1
    # via
    #   boto3
    #   botocore
multidict==6.0.5
    # via
    #   aiohttp
    #   yarl
numpy==1.26.4
    # via
    #   pandas
    #   pyarrow
pandas==2.1.4
    # via digitalhub-core
psycopg2-binary==2.9.9
    # via digitalhub-core
pyarrow==14.0.2
    # via digitalhub-core
pydantic==1.10.14
    # via digitalhub-core
python-dateutil==2.8.2
    # via
    #   botocore
    #   pandas
pytz==2024.1
    # via pandas
pyyaml==5.4.1
    # via digitalhub-core
requests==2.31.0
    # via digitalhub-core
s3transfer==0.10.0
    # via boto3
six==1.16.0
    # via python-dateutil
sqlalchemy==1.4.51
    # via digitalhub-core
typing-extensions==4.10.0
    # via
    #   aioitertools
    #   pydantic
tzdata==2024.1
    # via pandas
urllib3==1.26.18
    # via
    #   botocore
    #   requests
wrapt==1.16.0
    # via aiobotocore
yarl==1.9.4
    # via aiohttp
